server {
    # Redirect http to https, and from www to non-www
    listen       80;
    server_name  {{ domain }} www.{{ domain }};
    return       301 https://{{ domain }}$request_uri;
}

server {
    # Redirect https www to https non-www
    listen       443 ssl;
    server_name  www.{{ domain }};

    ssl_certificate     {{ ssl_certs_path }}/cert.pem;
    ssl_certificate_key {{ ssl_certs_path }}/privkey.pem;

    return       301 https://{{ domain }}$request_uri;
}

server {
    listen      443 default_server ssl;
    server_name {{ domain }};

    ssl_certificate     {{ ssl_certs_path }}/cert.pem;
    ssl_certificate_key {{ ssl_certs_path }}/privkey.pem;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers ECDHE-RSA-AES256-SHA384:AES256-SHA256:RC4:HIGH:!MD5:!aNULL:!eNULL:!NULL:!DH:!EDH:!AESGCM;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;

    access_log  /var/log/nginx/{{ domain }}.access.log;
    error_log   /var/log/nginx/{{ domain }}.error.log;

    gzip on;
    gzip_disable "msie6";
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

    error_page 404                  /404.html;
    error_page 400 401 403 405      /40x.html;
    error_page 500 501 502 503 504  /50x.html;

    root {{ www_root }}/;

    location / {
        try_files $uri $uri/index.html $uri.html =404;
    }

    location ~* \.(jpg|jpeg|png|gif|ico|css|js)$ {
        expires 1d;
        add_header Pragma public;
        add_header Cache-Control "public, must-revalidate, proxy-revalidate";
    }

    location ~* \.(xml)$ {
        add_header X-Robots-Tag noindex;
    }

    rewrite ^/rss$      http://orrsella.com/rss.xml     permanent;
    rewrite ^/rss/      http://orrsella.com/rss.xml     permanent;

    rewrite ^/2014/02/21/the-default-scala-seq-is-mutable-wait-what                         http://orrsella.com/2014/02/27/the-default-scala-seq-is-mutable-wait-what                           permanent;
    rewrite ^/2014/02/21/integrating-play-framework-and-maven                               http://orrsella.com/2014/02/25/integrating-play-framework-and-maven                                 permanent;
    rewrite ^/2014/10/28/embedded-elasticsearch-server-for-integration-testing-in-scala     http://orrsella.com/2014/10/28/embedded-elasticsearch-server-for-scala-integration-tests            permanent;

    rewrite ^/2012/02/should-all-web-traffic-be-encrypted                                   http://orrsella.com/2012/02/15/should-all-web-traffic-be-encrypted                                  permanent;
    rewrite ^/2012/02/law-of-large-numbers                                                  http://orrsella.com/2012/02/25/law-of-large-numbers                                                 permanent;
    rewrite ^/2012/02/tumblr-architecture                                                   http://orrsella.com/2012/02/25/tumblr-architecture                                                  permanent;
    rewrite ^/2012/04/anything-can-converge                                                 http://orrsella.com/2012/04/25/anything-can-converge                                                permanent;
    rewrite ^/2012/04/apples-juggernaut                                                     http://orrsella.com/2012/04/25/apples-juggernaut                                                    permanent;
    rewrite ^/2012/06/aws-architecture-center                                               http://orrsella.com/2012/06/19/aws-architecture-center                                              permanent;
    rewrite ^/2012/07/php-a-fractal-of-bad-design                                           http://orrsella.com/2012/07/02/php-a-fractal-of-bad-design                                          permanent;
    rewrite ^/2012/07/aapl                                                                  http://orrsella.com/2012/07/03/aapl                                                                 permanent;
    rewrite ^/2012/07/the-iphone-and-disruption-five-years-in                               http://orrsella.com/2012/07/03/the-iphone-and-disruption-five-years-in                              permanent;
    rewrite ^/2012/07/bloomberg                                                             http://orrsella.com/2012/07/05/bloomberg                                                            permanent;
    rewrite ^/2012/07/the-internet-map                                                      http://orrsella.com/2012/07/31/the-internet-map                                                     permanent;
    rewrite ^/2012/10/my-top-10-mac-apps                                                    http://orrsella.com/2012/10/11/my-top-10-mac-apps                                                   permanent;
    rewrite ^/2012/12/introducing-tumblr4s-a-scala-library-for-the-tumblr-api               http://orrsella.com/2012/12/10/introducing-tumblr4s-a-scala-library-for-the-tumblr-api              permanent;
    rewrite ^/2012/12/rested                                                                http://orrsella.com/2012/12/12/rested                                                               permanent;
    rewrite ^/2012/12/maps-have-become-a-hygiene-factor-for-a-platform                      http://orrsella.com/2012/12/18/maps-have-become-a-hygiene-factor-for-a-platform                     permanent;
    rewrite ^/2013/01/introducing-sbt-stats-an-sbt-plugin-for-source-code-statistics        http://orrsella.com/2013/01/20/introducing-sbt-stats-an-sbt-plugin-for-source-code-statistics       permanent;
    rewrite ^/2013/01/scala-development-using-sublime-text-2                                http://orrsella.com/2013/01/28/scala-development-using-sublime-text-2                               permanent;
    rewrite ^/2013/07/facebook-block-event-invitations-from-a-specific-friend               http://orrsella.com/2013/07/09/facebook-block-event-invitations-from-a-specific-friend              permanent;
    rewrite ^/2013/07/speed-review-patriot-supersonic-magnum-64-gb-flash-drive              http://orrsella.com/2013/07/15/speed-review-patriot-supersonic-magnum-64-gb-flash-drive             permanent;
    rewrite ^/2013/07/browser-notepad                                                       http://orrsella.com/2013/07/18/browser-notepad                                                      permanent;
    rewrite ^/2013/08/git-using-different-user-emails-for-different-repositories            http://orrsella.com/2013/08/10/git-using-different-user-emails-for-different-repositories           permanent;
    rewrite ^/2013/08/github-color-scheme-for-intellij                                      http://orrsella.com/2013/08/12/github-color-scheme-for-intellij                                     permanent;
    rewrite ^/2013/10/zsh-promp-format-with-date-time-and-current-directory                 http://orrsella.com/2013/10/08/zsh-promp-format-with-date-time-and-current-directory                permanent;
    rewrite ^2016/11/11/taking-brendan-greggs-perf-tools-with-you-to-production             http://orrsella.com/2016/11/11/summary-of-brendan-greggs-linux-performance-analysis-tools
}
