<div class="blog-links">
    <div class="link-group" id="link-group-left">
        <a href="{{@blog.url}}" id="left-first">Home</a>
        <a href="{{@blog.url}}/about">About</a>
        <a href="{{@blog.url}}/projects" id="left-last">Projects</a>
    </div>
    <div class="link-group" id="link-group-right">
        <a href="http://twitter.com/orrsella" id="right-last">Twitter</a>
        <a href="http://github.com/orrsella">GitHub</a>
        <a href="http://linkedin.com/in/orrsella" id="right-first">LinkedIn</a>
    </div>
</div>