server {
    listen      80;
    server_name {{ domain }} www.{{ domain }};

    access_log  /var/log/nginx/{{ domain }}.access.log;
    error_log   /var/log/nginx/{{ domain }}.error.log;

    location / {
        root {{ www_root }}/;
    }
}
